{% extends 'base.html.twig' %}

{% block title %}Edit Tickets{% endblock %}

{% block body %}
    <h1>Edit Tickets</h1>

    {{ include('back/tickets/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_back_tickets_index') }}">back to list</a>

    {{ include('back/tickets/_delete_form.html.twig') }}
{% endblock %}
