{% extends 'base.html.twig' %}

{% block title %}Nouveau Statut{% endblock %}

{% block body %}
    <div class="container">
        <a href="{{ path('app_back_statut_index') }}" class="btn btn-secondary mb-3">
            <i class="fa fa-arrow-left"></i>
        </a>
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                <h5 class="mb-0 text-center">Créer un nouveau statut</h5>
            </div>
            <div class="card-body">
                {{ include('back/statut/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}