{% extends 'base.html.twig' %}

{% block title %}Vigisoft{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-12 mb-3">
        {% for bp in bonnePratique %}
            <div class="card col-md-3">
                <div class="card-header">
                    <img src="{{ asset('ressources/imgContribution/' ~ bp.token) }}" alt="Image de la bonne pratique" class="img-fluid">
                </div>
                <div class="card-body">
                    <h5>{{ bp.titre }}</h5>
                    <a href="#" class="btn btn-primary">Voir plus</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block javascripts %}

{% endblock %}
