{% extends 'base.html.twig' %}

{% block title %}Nouvelle Contribution{% endblock %}

{% block body %}
    <div class="container">
        <a href="{{ path('app_back_contribution_index') }}" class="btn btn-secondary mb-3">
            <i class="fa fa-arrow-left"></i>
        </a>
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                <h5 class="mb-0 text-center">Créer une nouvelle contribution</h5>
            </div>
            <div class="card-body">
                {{ include('Back/contribution/_form.html.twig', { 'button_label': 'Créer' }) }}
            </div>
        </div>
    </div>
{% endblock %}
